<h1 *ngIf="countDown < 4"
  style="text-align: center;">Ready {{countDown}}</h1>

<div *ngIf="countDown > 3"
  (click)="proceed()"
  class="bg">

  <h1>Score - {{score}}</h1>
  <h2>{{scoreMessage}}</h2>

  <div>
    <div class="arrow-up"></div>
    <div *ngFor="let block of one; let i = index"
      style="width: 50px; height: 50px; border: 1px solid black; margin: 0 auto;"
      [ngStyle]="{ 'background-color': one.length - 1 - i === activeIndex ? 'white' : 'lightgrey' }">

      <div *ngIf="one.length - 1 - i === activeIndex"
        style="background-color: green; width: 100%;"
        [ngStyle]="{ 'height': 100 - heightPercentage + '%' }"></div>

    </div>
  </div>

</div>